<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--基本配置
        Port:监听端口
        Code:产品代码
        ServerId:产品游服代码
        Redis.Host:Redis主机地址
        Redis.Port:Redis主机端口
        Redis.Password:密码
        Redis.Db:数据库位置
    -->
    <add key="Product.Code" value="1" />
    <add key="Product.Name" value="GMTool" />
    <add key="Product.ServerId" value="1" />
    <!--add key="Product.ClientDesDeKey" value=""/-->
    <!--add key="Game.Http.Host" value="0.0.0.0"/>
    <add key="Game.Http.Port" value="8091" /-->
    <!--add key="Game.IpAddress" value="168.254.0.254"/-->
    <!--add key="Game.Port" value="9001"/-->
    <!--add key="Redis.Host" value="127.0.0.1:6379"/-->
    <!--add key="Redis.Db" value="11"/-->
    <!--add key="Slave.MessageQueue" value="Slave1"/-->
    <add key="ScriptRelativePath" value="Script" />
    <add key="CSharpRootPath" value="CsScript" />
    <add key="LuaRootPath" value="LuaScript" />
    <add key="Game.Language.TypeName" value="gm_tool.CsScript.Locale.SimplifiedLanguage" />
    <add key="Game.Action.Script.TypeName" value="gm_tool.CsScript.Action.Action{0}" />
    <add key="Game.Cache.UpdateDbInterval" value="60000" />
    <add key="ScriptMainTypeName" value="gm_tool.Script.CsScript.MainClass" />
    <add key="Game.Remote.Script.TypeName" value="gm_tool.CsScript.Remote.{0}" />
    <add key="Script_IsDebug" value="True" />
    <add key="Lua_Disable" value="True" />
    <add key="Game.Action.EnableGZip" value="False" />
    <add key="Game.Action.GZipOutLength" value="102400" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>